<div class="form-group rl-uva-item-form">
  <label class="control-label" title="Required"><%= t('plugin.request_list.uva.options.desired_materials') %></label>
  <textarea class="form-control" name="desired_materials" maxlength="500" rows="3"></textarea>
</div>
